apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-seed-script
  labels:
    app.kubernetes.io/name: mysql
    app.kubernetes.io/instance: mysql-prod
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: cct-demo
data:
  seeding_script: |
    CREATE TABLE IF NOT EXISTS accounts (
        id INT PRIMARY KEY,
        name VARCHAR(40),
        balance INT
    );

    INSERT IGNORE INTO accounts
        (id, name, balance)
    VALUES
        (1, 'Mario', 100);

    INSERT IGNORE INTO accounts
        (id, name, balance)
    VALUES
        (2, 'Luigi', 200);
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-configs
  labels:
    app.kubernetes.io/name: mysql
    app.kubernetes.io/instance: mysql-prod
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: cct-demo
data:
  MYSQL_USER: cct1
  MYSQL_DATABASE: cct1
  MYSQL_PORT: "3306"
---
apiVersion: v1
kind: Secret
metadata:
  name: mysql-credentials
  labels:
    app.kubernetes.io/name: mysql
    app.kubernetes.io/instance: mysql-prod
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: cct-demo
data:
  MYSQL_PASSWORD: bXlzcWxwYXNzd29yZA==
  MYSQL_ROOT_PASSWORD: bXlzcWxyb290cGFzc3dvcmQ=
