apiVersion: v1
kind: Service
metadata:
  name: mysql
  labels:
    app.kubernetes.io/name: mysql
    app.kubernetes.io/instance: mysql-prod
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: cct-demo
spec:
  ports:
    - port: 3306
      targetPort: mysql-port
      name: mysql-service-port
  clusterIP: None
  type: ClusterIP
  selector:
    app.kubernetes.io/name: mysql
    app.kubernetes.io/instance: mysql-prod
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql
  labels:
    app.kubernetes.io/name: mysql
    app.kubernetes.io/instance: mysql-prod
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: cct-demo
spec:
  serviceName: mysql
  replicas: 1
  minReadySeconds: 10
  selector:
    matchLabels:
      app.kubernetes.io/name: mysql
      app.kubernetes.io/instance: mysql-prod
  template:
    metadata:
      labels:
        app.kubernetes.io/name: mysql
        app.kubernetes.io/instance: mysql-prod
        app.kubernetes.io/component: database
        app.kubernetes.io/part-of: cct-demo
    spec:
      volumes:
        - name: mysql-credentials
          secret:
            secretName: mysql-credentials
            items:
              - key: MYSQL_PASSWORD
                path: ./mysql_password
              - key: MYSQL_ROOT_PASSWORD
                path: ./mysql_root_password
      containers:
        - name: mysql
          image: mysql:8.4.0
          ports:
            - containerPort: 3306
              name: mysql-port
          volumeMounts:
            - name: mysql-data
              mountPath: /var/lib/mysql
            - name: mysql-credentials
              readOnly: true
              mountPath: "/etc/secrets"
          envFrom:
            - configMapRef:
                name: mysql-configs
          env:
            - name: MYSQL_PASSWORD_FILE
              value: /etc/secrets/mysql_password
            - name: MYSQL_ROOT_PASSWORD_FILE
              value: /etc/secrets/mysql_root_password
          readinessProbe:
            exec:
              command:
                - "/bin/sh"
                - "-c"
                - |
                  mysqladmin ping -h 127.0.0.1 \
                    -u $MYSQL_USER \
                    --password=$(cat /etc/secrets/mysql_password)
            initialDelaySeconds: 10
            periodSeconds: 5
  volumeClaimTemplates:
    - metadata:
        name: mysql-data
      spec:
        accessModes:
          - ReadWriteOnce
        # storageClassName: standard
        resources:
          requests:
            storage: 5Gi
---
apiVersion: batch/v1
kind: Job
metadata:
  name: mysql-seeder
  labels:
    app.kubernetes.io/name: mysql
    app.kubernetes.io/instance: mysql-prod
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: cct-demo
spec:
  template:
    metadata:
      labels:
        app.kubernetes.io/name: mysql
        app.kubernetes.io/instance: mysql-prod
        app.kubernetes.io/component: database
        app.kubernetes.io/part-of: cct-demo
    spec:
      restartPolicy: OnFailure
      volumes:
        - name: mysql-seed-script
          configMap:
            name: mysql-seed-script
            items:
              - key: seeding_script
                path: ./seed.sql
        - name: mysql-credentials
          secret:
            secretName: mysql-credentials
            items:
              - key: MYSQL_PASSWORD
                path: ./mysql_password
      containers:
        - name: mysql-seeder
          image: mysql:8.4.0
          volumeMounts:
            - name: mysql-seed-script
              readOnly: true
              mountPath: "/etc/configs"
            - name: mysql-credentials
              readOnly: true
              mountPath: "/etc/secrets"
          envFrom:
            - configMapRef:
                name: mysql-configs
          env:
            - name: MYSQL_PASSWORD_FILE
              value: /etc/secrets/mysql_password
            - name: MYSQL_HOST
              value: mysql-0.mysql.default.svc.cluster.local
          command:
            - bash
            - -c
            - |
              mysqladmin ping -h $MYSQL_HOST \
                -u $MYSQL_USER \
                --password=$(< $MYSQL_PASSWORD_FILE) && \
              mysql --host=$MYSQL_HOST \
                -u $MYSQL_USER \
                --password=$(< $MYSQL_PASSWORD_FILE) \
                -D $MYSQL_DATABASE \
                -e 'source /etc/configs/seed.sql' || \
              exit 1
  backoffLimit: 10
