apiVersion: v1
kind: Service
metadata:
  name: webserver
  labels:
    app.kubernetes.io/name: webserver
    app.kubernetes.io/instance: webserver-prod
    app.kubernetes.io/component: app
    app.kubernetes.io/part-of: cct-demo
spec:
  selector:
    app.kubernetes.io/name: webserver
    app.kubernetes.io/instance: webserver-prod
  ports:
    - port: 80
      name: webserver-service-port
      targetPort: webserver-port
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: webserver
  labels:
    app.kubernetes.io/name: webserver
    app.kubernetes.io/instance: webserver-prod
    app.kubernetes.io/component: app
    app.kubernetes.io/part-of: cct-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: webserver
      app.kubernetes.io/instance: webserver-prod
  template:
    metadata:
      labels:
        app.kubernetes.io/name: webserver
        app.kubernetes.io/instance: webserver-prod
        app.kubernetes.io/component: app
        app.kubernetes.io/part-of: cct-demo
    spec:
      volumes:
        - name: mysql-credentials
          secret:
            secretName: mysql-credentials
            items:
              - key: MYSQL_PASSWORD
                path: ./mysql_password
      containers:
        - name: webserver
          image: maluz/webserver-cct-demo:latest
          ports:
            - containerPort: 80
              name: webserver-port
          volumeMounts:
            - name: mysql-credentials
              readOnly: true
              mountPath: "/etc/secrets"
          envFrom:
            - configMapRef:
                name: mysql-configs
          env:
            - name: MYSQL_PASSWORD_FILE
              value: /etc/secrets/mysql_password
            - name: MYSQL_HOST
              value: mysql-0.mysql.default.svc.cluster.local
          resources:
            limits:
              memory: "500Mi"
              cpu: "500m"
          readinessProbe:
            httpGet:
              path: /health
              port: webserver-port
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: webserver
  labels:
    app.kubernetes.io/name: webserver
    app.kubernetes.io/instance: webserver-prod
    app.kubernetes.io/component: app
    app.kubernetes.io/part-of: cct-demo
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: webserver
  minReplicas: 2
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 10