x-common-env: &shared-env
  MYSQL_USER: cct
  MYSQL_PASSWORD_FILE: /run/secrets/db_password_file_secret
  MYSQL_DATABASE: cct

services:
  db:
    image: mysql:8.4.0
    environment:
      <<: *shared-env
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password_file_secret
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "sh",
          "-c",
          "mysqladmin ping -h 127.0.0.1 -u $$MYSQL_USER --password=$$(cat $$MYSQL_PASSWORD_FILE)"
        ]
      start_period: 5s
      interval: 3s
      timeout: 5s
      retries: 8
    volumes:
      - mysql_data:/var/lib/mysql
    secrets:
      - db_password_file_secret
      - db_root_password_file_secret

  seeder:
    image: mysql:8.4.0
    entrypoint:
      - bash
      - -c
      - |
        mysqladmin ping -h $$MYSQL_HOST \
          -u $$MYSQL_USER \
          --password=$$(< $$MYSQL_PASSWORD_FILE) && \
        mysql --host=$$MYSQL_HOST \
          -u $$MYSQL_USER \
          --password=$$(< $$MYSQL_PASSWORD_FILE) \
          -D $$MYSQL_DATABASE \
          -e 'source /db_seed_sql' || \
        exit 1
    environment:
      <<: *shared-env
      MYSQL_HOST: db
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 10
    depends_on:
      - db
    secrets:
      - db_password_file_secret
    configs:
      - db_seed_sql

  app:
    image: "maluz/webserver-cct-demo:latest"
    deploy:
      mode: replicated
      replicas: 2
      restart_policy:
        condition: on-failure
    environment:
      <<: *shared-env
      MYSQL_HOST: db
      MYSQL_PORT: 3306
    ports:
      - "5000:80"
    secrets:
      - db_password_file_secret

secrets:
  db_password_file_secret:
    file: ./secrets/db_password.secret
  db_root_password_file_secret:
    file: ./secrets/db_root_password.secret

configs:
  db_seed_sql:
    file: ../sqldb/seed.sql

volumes:
  mysql_data:
