services:
  db:
    image: mysql:8.4.0
    env_file:
      - ./db/.env
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -u $$MYSQL_USER --password=$$MYSQL_PASSWORD
      start_period: 5s
      interval: 3s
      timeout: 5s
      retries: 8
    volumes:
      - mysql_data:/var/lib/mysql
    secrets:
      - db_password_file_secret
      - db_root_password_file_secret

  seeder:
    image: mysql:8.4.0
    entrypoint:
      [
        "bash",
        "-c",
        "mysql --host=$$MYSQL_HOST -u $$MYSQL_USER --password=\"$$(cat $$MYSQL_PASSWORD_FILE)\" -D $$MYSQL_DATABASE -e 'source /seed.sql'"
      ]
    env_file:
      - ./db-seeder/.env
    restart: on-failure
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ../sqldb/seed.sql:/seed.sql
    secrets:
      - db_password_file_secret

  app:
    build:
      context: ../webserver
    image: web-server
    labels:
      autoheal: true
    env_file:
      - ./webserver/.env
    ports:
      - "5000:80"
    secrets:
      - db_password_file_secret

  autoheal:
    environment:
      AUTOHEAL_CONTAINER_LABEL: autoheal
      AUTOHEAL_DEFAULT_STOP_TIMEOUT: 5
    image: willfarrell/autoheal:latest
    network_mode: none
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  mysql_data:

secrets:
  db_password_file_secret:
    file: ./secrets/db_password.secret
  db_root_password_file_secret:
    file: ./secrets/db_root_password.secret